* {
    box-sizing: border-box;
}
:root {
    --main-color: #1abc9c;
    --second-color: #2c3e50;
}
h3 {
    padding-top: 20px;
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    letter-spacing: normal;
}
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.active {
    background-color: var(--main-color) !important;
}
.navbar {
    background-color: var(--second-color);
    transition: .6s padding ease;
}
.navbar>.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar ul li {
    color: white;
}
.navbar ul li:hover {
    background-color: var(--main-color) !important;
    border-radius: 0.375rem;
}
.nav-item {
    width: fit-content;
}
.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}
.navbar-toggler .navbar-toggler-icon { 
    color: white;
}
.home {
    height: 100vh;
    background-color: var(--main-color);
}
.line {
    height: 4px;
    width: 80px;
    background-color: white;
}
.home img {
    width: 80%;
}
.footer {
    background-color: #2c3e50;
    color: #fff;
    justify-content: center;
    text-align: center;
    padding: 40px;
    margin: 0;
}
.card {
    border: none;
    background-color: transparent;
    color: #fff;
}
.card-group {
    background-color: transparent !important;
}
.icon {
    border: 1px white solid;
    border-radius: 50%;
    font-size: 1.5rem;
    padding: 12px;
}
.icons a {
    text-decoration: none;
    color: inherit;
    outline: none;
}
.icons i:hover {
    color: var(--main-color);
    border-color: var(--main-color);
    cursor: pointer;
}
.about {
    background-color: var(--main-color);
    height: 100vh;
}
.about-container {
    text-align: left;
}
.layer__image {
    background-color: #1abc9ce6;
    opacity: 0;
    cursor: pointer;
    transition: .6s opacity;
}
.layer__image:hover {
    opacity: 1;
}
.portfolio-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup-image {
    max-width: 90%;
    max-height: 90%;
}
.close {
    position: absolute;
    top: 20px;
    right: 30px;
    color: white;
    font-size: 30px;
    cursor: pointer;
}
@media (min-width: 992px) {
    .navbar-expand-lg .navbar-toggler {
        display: none;
    }
}
@media (min-width: 992px) {
    .navbar-expand-lg {
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
}
@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
    }
}
@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav {
        flex-direction: row;
    }
}
@media (min-width: 992px) {
    .mb-lg-0 {
        margin-bottom: 0 !important;
    }
}
@media (min-width: 576px) {
    .card-group {
        display: flex;
        flex-flow: row wrap;
    }
}
@media (min-width: 768px) {
    .ps-md-5 {
        padding-left: 3rem !important;
    }
}
@media (min-width: 768px) {
    .col-md-6 {
        flex: 0 0 auto;
        width: 50%;
    }
}
@media (min-width: 992px) {
    .col-lg-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }
}